@media screen and (min-width: 768px) {

  #narration {
    width: 40vw;
    height: 100vh;
    max-width: 500px;
    top: 0;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  }

  #map {
    width: calc(100vw - 40vw);
    left: 40vw;
    height: 100vh;
    border: 0;
    z-index: 0;
  }
  
  /* Adjust map width if narration hits max-width */
  @media screen and (min-width: 1250px) {
     #map {
        width: calc(100vw - 500px);
        left: 500px;
     }
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}
